body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    transition: background 0.5s;
}

button{
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}